* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-background-ultralight: #effaff;
  --theme-background-light: #e5eaf5;
  --theme-background-normal: #a0d2eb;
  --theme-color-light: #d0bdf4;
  --theme-color-normal: #8458b3;
  --theme-color-dark: #494d5f;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
